.main{
    width: 100vw;
    height: 92.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    }
    .data{
        height: 90%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        @media (max-width:576px) {
            width: 80%;       
         }
         @media (max-width:750px) {
            width: 80%;        
        }
        @media (max-width:540px) {
            width: 90%;        
        }       

    }
    .form_layout{
        display: flex;
        justify-content: center;
        align-items:center ;
        height:10% ;
        width: 80%;
    }
    .form_title{
        display: flex;
        justify-content: flex-start;
        align-items:center;
        width: 20%;
        height: 100%;
        font-weight: 100;
    
    }
    h3{
       @media (max-width:1234px) {
            font-size: 13px
        }  
        @media (max-width:370px) {
            font-size: 10px
        }  
        @media (max-width:540px) {
            font-size: 9px;
        } 

    }
    label{
        @media (max-width:900px) {
            font-size: 13px
        } 
         @media (max-width:540px) {
            font-size: 9px;
        } 
    }
    .form_data{
        display: flex;
        justify-content: flex-start;
        width: 80%;
        height: 100%;
        align-items: center;
    }
    #get_name{
        width: 100%;
        height: 60%;
    }
    .department{
        display: flex;
        align-items: center;
    }
    .inner_data{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
    }
    .select_data{
        width: 30%;
        height: 25px;
        margin: 3px;
    }
    #notes{
        width: 100%;
        height: 100%;
    }
    .profile{
        height: 30px;
        width: 30px;
    }
    #button_id{
        justify-content: space-between;
        margin-top: 10px;
    }
    #button_id2{
        justify-content: flex-end;
    }
    #submit_data{
        margin-right: 50px;
    }
    button{
        height: 30px;
        width: 80px;
    }
    